/* Adjust profile container to fit next to the navbar without horizontal scroll */
.profile-container {
  width: 100%;
  /* Ensure the container width fills remaining space */
  padding: 20px;
  box-sizing: border-box;
  /* Include padding in width calculation */
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}


.profile-card {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 8px;
}

.profile-picture {
  display: flex;
  align-items: center;
}

.profile-details {
  margin-top: 20px;
}

/* Styling for mood tracker, if any */
.mood-tracker-container {
  margin-top: 30px;
}

.nav-icon {
  align-items: center;
  width: 50px;
  /* Set desired width */
  height: 50px;
  /* Set desired height */
  object-fit: cover;
  /* Ensures the image scales without distortion */
}